<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">余额宝</h1>
      <p class="lead" text-align:justify>赶紧存钱</p>
    </div>
</div>
<div class="card">
  <div class="card-header">
    定期
  </div>
  <div class="card-body">
    <h6 class="card-title">存360天的年利率</h6>
    <p class="card-text">15%</p>
    <h6 class="card-title">存180天的年利率</h6>
    <p class="card-text">12%</p>
    <h6 class="card-title">存90天的年利率</h6>
    <p class="card-text">10%</p>
    <h6 class="card-title">存30天的年利率</h6>
    <p class="card-text">8%</p>
    <button class="btn btn-primary" onclick="toCreate(busiType='1001')">存定期</button>
  </div>
</div>
<div class="card">
  <div class="card-header">
    活期
  </div>
  <div class="card-body">
    <h5 class="card-title">年利率</h5>
    <p class="card-text">6%</p>
    <button class="btn btn-primary" onclick="toCreate(busiType='1002')">存活期</button>
  </div>
</div>

<script>
    function toCreate(busiType) {
        window.location.href = '/money/create/' + busiType;
    };

</script>