<div class="card mb-3">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdAinBm6ycW4DrixAf7HKemChABCHpES_QYQabhuJwIPCZmgQDaw" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">你的存款有</h5>
      <p class="card-text">本金 ：   </p>
      <p class="card-text">利息 ：   </p>
      <p class="card-text">总计 ：   </p>
    </div>
  </div>